# fix renovate not update pnpm-lock.yaml
strict-peer-dependencies=false

# access pnpm phantom dependencies
public-hoist-pattern[]=*types* # default
public-hoist-pattern[]=*eslint* # default
public-hoist-pattern[]=@prettier/plugin-* # default
public-hoist-pattern[]=*prettier-plugin-* # default
public-hoist-pattern[]=tslib # typescript